
<div class="container-fluid"> &nbsp;
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-5 ms-4 me-4 p-4">
            <h2>Información del Cliente</h2>
            <form>
                <div class="row">
                    <div class="col">
                        <label for="id_client" class="form-label">Id Client</label> <br>
                        <input type="text" id="id_client" class="form-control" name="id_client" placeholder="Id Client">
                    </div> 
                    <div class="col">
                        <label for="id_client" class="form-label">Id Client</label> <br>
                        <input type="text" id="id_client" class="form-control" name="id_client">
                    </div> 
                </div> <br>
        
                <div class="row">
                    <div class="col">
                        <label for="id_client" class="form-label">Id Client</label> <br>
                        <input type="text" id="id_client" class="form-control" name="id_client">
                    </div> <br>
                    <div class="col">
                        <label for="id_client" class="form-label">Id Client</label> <br>
                        <input type="text" id="id_client" class="form-control" name="id_client">
                    </div> <br>
                </div> <br>
        
                <div class="row">
                    <div class="col">
                        <label for="id_client" class="form-label">Id Client</label> <br>
                        <input type="text" id="id_client" class="form-control" name="id_client">
                    </div> <br>
                    <div class="col">
                        <label for="id_client" class="form-label">Id Client</label> <br>
                        <input type="text" id="id_client" class="form-control" name="id_client">
                    </div> <br>
                </div> <br>
        
                <div class="row">
                    <div class="col">
                        <label for="id_client" class="form-label">Id Client</label> <br>
                        <input type="text" id="id_client" class="form-control" name="id_client">
                    </div> <br>
                    <div class="col">
                        <label for="id_client" class="form-label">Id Client</label> <br>
                        <input type="text" id="id_client" class="form-control" name="id_client">
                    </div> <br>
                </div> <br>
        
                <div class="row">
                    <div class="col">
                        <label for="id_client" class="form-label">Id Client</label> <br>
                        <input type="text" id="id_client" class="form-control" name="id_client">
                    </div> <br>
                    <div class="col">
                        <label for="id_client" class="form-label">Id Client</label> <br>
                        <input type="text" id="id_client" class="form-control" name="id_client">
                    </div> <br>    
                </div> <br>

                <div class="row">
                    <div class="col-md-6">
                        <label for="id_client" class="form-label">Id Client</label> <br>
                        <input type="text" id="id_client" class="form-control" name="id_client">
                    </div> <br>
                </div> <br>
                <br>

            </form>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-5 ms-4 me-4 p-4">
            <h2>Información del Cliente</h2>
            <h1>Hola</h1>
        </div>
    </div>
    
</div>
<div class="container text-center">
    <button class="btn-primary">Aceptar</button>

</div>

    